<div class='container'>
	<h1><%= @post.title %></h1>
	<p>Author: <%= @post.author.name %></p>
	<p>Created at: <%= @post.created_at %></p>
	<p>Updated at: <%= @post.updated_at %></p>
	<section>
		<%= @post.content %>
	</section>
	<p>Tags: 
	<% @post.tags.each do |tag| %>
	<a href="/tags/<%= u(tag.phrase) %>"><%= tag.phrase %></a>
	<% end %>
	</p>
	<form method='post' action='/editpost'>
		<button name='post_id' type='submit' value="<%= @post.id %>">Edit This Post</button>
	</form>
	<form method='post' action='/deletepost'>
		<button name='post_id' type='submit' value="<%= @post.id %>">Delete This Post</button>
	</form>
</div>

