<% unless @posts == nil || @posts.empty? %>
  <div class='container'>
    <% @posts.each do |post| %>
    <div class='container post'>
      <h1><%= post.title %></h1>
      <p>Author: <a href="/authors/<%= post.author.name %>"><%= post.author.name %></a></p>
      <p>Created at: <%= post.created_at %></p>
      <p>Updated at: <%= post.updated_at %></p>
      <p><a href="/posts/<%= post.id %>">View this post on its own page</a></p>
      <section>
        <%= post.content %>
      </section>
      <p>Tags: 
        <% post.tags.each do |tag| %>
        <a href="/tags/<%= u(tag.phrase) %>"><%= tag.phrase %></a>
        <% end %>
      </p>
      <div class="edit">
        <a href="/posts/<%= post.id %>/update">Edit This Post</a>
        <a href="/posts/<%= post.id %>/delete">Delete This Post</a>
      </div>
    </div>
    <% end %>
  </div>
  <%= will_paginate @posts %>
<% end %>
